@import url("../font/stylesheet.css");
* {
  font-family: "Roboto";
}
.main_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
  height: 80%;
  /* background-color: black; */
  position: relative;
  top: 5%;

  overflow: scroll;
}

.buttons {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0%;
  height: 100%;

  width: 10%;
  /* background-color: transparent; */
}
.button2 {
  background: transparent;
  padding-top: 100%;
  padding-bottom: 100%;
  padding-left: 10px;
  padding-right: 10px;

  color: red;
  /* background-color: antiquewhite; */
  transition: 0.2s;
}
.button2:hover {
  /* font-size: 20px;
     *
     /
    /* background-color: red;
    color: white; */
  opacity: 0.5;
}
.table {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 80%;
  /* overflow-y:scroll ; */
  /* background-color: aqua; */
}

.top_bar {
  width: 100%;
  height: 10%;
  /* background-color: rgb(116, 116, 130); */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
.logo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
}
.btnRecived {
  position: absolute;
  top: 50%;
  left: 65%;
}

.group {
  position: relative;
  top: 40%;
  left: 30%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.inputs_container {
  margin-top: 23px;
}
.input {
  background: transparent;
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 220px;
  border: none;
  border-bottom: 1px solid #757575;
}
.input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ label,
.input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #008080;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #008080;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.btn {
  background: #ffffff;
  /* background-color: transparent; */
  border: 2px solid #008080;
  /* border: none; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-sizing: border-box;
  color: #008080;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  min-height: 40px;
  outline: 0;
  /* padding: 11px 20px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /* transition: 0.3s all ease-in; */
  /* letter-spacing: 3px; */
  /* margin-bottom: 4%; */
  padding: 5px 10px;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* .btn:hover,
.btn:active {
  background-color: #008080;
  background-position: 0 0;
  color: #ffffff;
  /* letter-spacing: 5px; */
/* transform: scale(1.09); */
/* transform: scaleY(1.2); */
/* } */

.btn:hover,
.btn:active {
  background-color: #008080;
  color: white;
}
.blur {
  filter: blur(5px);
  pointer-events: none;
}
.hide {
  display: none;
}

.btn:active {
  opacity: 0.5;
}
.btn span {
  margin-left: 10px;
  font-size: 19px;
}
.messageBox {
  position: relative;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

  z-index: 3;
  border-radius: 20px;
  /* text-align: center; */
}
.messageBox p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.messageBox h5 {
  position: absolute;
  top: 10%;
  width: 100%;
  font-weight: 800;
  /* left: 50%; */
  text-align: center;
  /* transform: translateX(-50%); */
  font-size: 90%;
}
.textArea {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  border-radius: 2px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border: 1px solid gray;
  resize: none;
  width: 300px;
  /* height: auto; */

  height: 150px;
  font-size: 15px;
  font-weight: bold;
}
.btn2 {
  position: absolute;
  bottom: 2%;
  right: 44%;
}
.btn1 {
  position: absolute;
  bottom: 2%;
  right: 17%;
}

.card {
  display: flex;
  background-color: #008080;
  flex-direction: column;
  width: 70%;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 97% 3% 96% 4% / 0% 100% 0% 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-left: 15%;
}
.upPart {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
}
.upPart img {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}
.upPart p {
  margin-left: 40px;
  color: #dcdf87;
  font-weight: 700;
}
.downPart {
  position: absolute;
  left: 53%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  /* background-color:red; */
  /* overflow-y: scroll; */
  height: 70%;
}
.downPart p {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
@media all and (max-width: 1091px) {
  .group {
    /* background-color: #008080; */
    width: 40%;
  }
  /* .input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
} */
  .input:focus ~ label,
  .input:valid ~ label {
    top: -5px;
    font-size: 9px;
    /* color: #008080; */
  }
  .bar {
    /* width: 50%; */
  }
  .input:focus ~ .bar:before,
  .input:focus ~ .bar:after {
    width: 40%;
  }
  .input:focus ~ label,
  .input:valid ~ label {
    top: -10px;
    font-size: 9px;
    color: #008080;
  }
  .input {
    /* background: transparent; */
    font-size: 9px;
    height: 20px;
    /* padding: 10px 10px 10px 5px; */
    /* display: block; */
    width: 100px;
    /* border: none; */
    border-bottom: 1px solid #757575;
  }

  .content {
    /* background-color: #008080; */
  }
  .card {
    width: 90%;
    margin-left: 5%;
    height: 70px;
  }
  p {
    font-size: 50%;
  }
  .message {
    font-size:60%;
    margin-left: 5%;
  }
  /* .top_bar > .logo {
    display: none;
  } */
  .upPart{
    /* text-align: center; */
    /* background-color: aqua; */
  }
  .upPart > img{
    position: absolute;

    width: 30px;
    height: 30px;
    left: -35px;
    bottom: 0;
  }
  .button2{
font-size:80%;
  }
}
@media all and (max-width: 375px) {
  .group {
    /* background-color: #008080; */
    width: 40%;
  }
  /* .input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
} */
  .input:focus ~ label,
  .input:valid ~ label {
    top: -5px;
    font-size: 9px;
    /* color: #008080; */
  }
  .bar {
    /* width: 50%; */
  }
  .input:focus ~ .bar:before,
  .input:focus ~ .bar:after {
    width: 40%;
  }
  .input:focus ~ label,
  .input:valid ~ label {
    top: -10px;
    font-size: 9px;
    color: #008080;
  }
  .input {
    /* background: transparent; */
    font-size: 9px;
    height: 20px;
    /* padding: 10px 10px 10px 5px; */
    /* display: block; */
    width: 100px;
    /* border: none; */
    border-bottom: 1px solid #757575;
  }

  .content {
    /* background-color: #008080; */
  }
  .card {
    width: 90%;
    margin-left: 5%;
    /* height: 50px; */
  }
  p {
    font-size: 40%;
  }
  .message {
    font-size:50%;
    margin-left: 10%;
  }
  /* .top_bar > .logo {
    display: none;
  } */
  .upPart{
    /* text-align: center; */
    /* background-color: aqua; */
  }
  .upPart > img{
    position: absolute;

    width: 30px;
    height: 30px;
    left: -35px;
    bottom: 0;
  }
  .button2{
font-size: 7px;
  }
  .logo{
    display: none;
  }
}
